/**
 * BOOTSTRAP OVERRIDES
 */

/**
 * HTML OVERRIDES
 */

body{
  color: #333;
}

/**
 * CUSTOM CLASSES
 */

.greyed-out{
  color: #999;
}

.titleName {
  font-weight: normal;
  font-size: 90%;
}

.header, .cell{
  border: 1px solid #777;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
}

.cell{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.header{
  cursor: pointer;
  border-top: 0;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  font-weight: bold;
}

.text a{
  color: #333;
}

.dropdownLink{
  cursor:pointer;
  margin: 0;
}

.dropdownLink:hover {
  background-color: #eee;
}

.dropdownIcon{
  font-size: 90%;
  border-radius: 0.5vh;
  border-top-left-radius: 0vh;
  border-bottom-left-radius: 0vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
  margin-right: 0.5vh;
  border: 1px solid #777;
  border-left: none;
}

.dropdownActiveIcon{
  background-color: #ccc;
}

/**
 * ID's
 */

 #headerDropdown{
   display: none;
   border: 1px solid #777;
   border-radius: 0.5vh;
   position: absolute;
   background-color: white;
   z-index: 99;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
 }

#leftColumn, #rightColumn, #middleColumn {
  height: 98vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#leftColumn, #middleColumn{
  padding-left: 1vh;
  padding-right: 0px;
}

#rightColumn{
  padding-right: 1vh;
  padding-left: 1vh;
}

#textCell, #translationCell {
  height: 98vh;
}

#dictionaryCell{
  height: 49vh;
}

#noteCell{
  height: 48vh;
  margin-top: 1vh;
}
